In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.sample(5)

,id,title,overview,release_date,popularity,vote_average,vote_count
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,25.7834,8.700,21726
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,31.6161,8.712,28711
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0092,8.450,6008
6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,23.7807,8.522,34231
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,11.7684,8.465,9119

In [6]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)